body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

main {
    background-color: #A9A9A9;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

header img {
    margin: 20px;
    border-radius: 30px;
}

header h1 {
    color: #ffffff;
    margin-top: 30px;;
}

header nav {
    width: 200px;
    margin: 40px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    color: #ffffff;
}

.description {
    margin: 0px 100px 50px 100px;
}

.description h2 {
    margin-top: 0px;
    padding-top: 20px;
}

.description img {
    float: left;
    margin: 10px 20px;
    width: 600px;
}

.description-p2 {
    clear: both;
    padding: 10px 100px 50px 20px;
}

.relationship {
    background-color: #ffffff;
}

.relationship img {
    float: right;
    margin: 10px 20px;
    width: 600px;
    padding: 50px 100px 50px 0px;
}

.relationship-p1 {
    padding: 0px 0px 10px 120px;
}

.relationship-p2 {
    padding: 0px 0px 100px 120px;
}

.relationship h2 {
    padding: 80px 0px 0px 120px;
}

footer {
    clear: both;
    display: block;
    padding: 30px;
    text-align: center;
    background-color: #808080;
}
